body {
  background-color: #F6F6F6;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  margin: 0px;
  font-size: 13px;
  width: 100%; }

.page-wrapper {
  height: 100%;
  height: auto; }

.top-menu {
  width: 100%;
  height: 10%;
  vertical-align: middle;
  min-height: 60px;
  text-align: center;
  background-color: #333;
  font-size: 0.8em;
  display: block; }
  @media only screen and (max-width: 640px) {
    .top-menu {
      height: auto;
      display: none; } }
  @media only screen and (min-width: 1201px) {
    .top-menu {
      min-height: 80px; } }

.container {
  height: 90%;
  width: 100%; }

.aside-left {
  background-color: #b9c2c9;
  width: 15%;
  min-width: 150px;
  float: left;
  clear: right;
  height: 100%; }
  @media only screen and (max-width: 1200px) {
    .aside-left {
      width: 100%;
      height: 13em;
      float: left;
      clear: both; } }

.content-wrapper {
  width: 85%;
  float: right;
  height: 100%; }
  @media only screen and (max-width: 1200px) {
    .content-wrapper {
      width: 100%; } }

.login-wrapper, .register-wrapper {
  max-width: 300px;
  padding: 7%;
  margin-left: auto;
  margin-right: auto; }

.login-card {
  padding: 30px 45px;
  height: 275px; }
  @media only screen and (max-width: 640px) {
    .login-card {
      padding-left: 0px;
      padding-right: 0px;
      right: 100%;
      left: 100%; } }

.avatar-img {
  width: 7em;
  height: 7em; }

.social-auth {
  margin-left: 10px; }

.aside-wrapper {
  height: 100%;
  position: relative; }

.currency-wrapper {
  padding: 45px 10px;
  height: auto;
  position: relative;
  overflow-y: auto; }
  @media only screen and (max-width: 1200px) {
    .currency-wrapper {
      padding: 5px 10px; } }

.aside-footer {
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-bottom: 5px; }

.currency {
  margin-bottom: 6px;
  font-weight: 200;
  font-size: 0.85em;
  text-align: right;
  padding: 7px 4px;
  min-width: 150px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }
  @media only screen and (max-width: 1200px) {
    .currency {
      float: right; } }

.currency:hover {
  background-color: white;
  cursor: hand; }

.currency-name {
  margin-right: 5px;
  font-weight: 400; }

.currency-value {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  background-color: #33822f;
  padding: 3px 10px;
  color: #D6DBDF; }

.currency-warning {
  background-color: #8CE0FA;
  color: #000000; }

.currency-attention {
  background-color: #FAF88C;
  color: #000000; }

.currency-violation {
  background-color: #f85b5b; }

.add-currency {
  margin-right: 10px;
  color: #333; }

.add-currency:hover {
  color: #666666; }

.menu ul {
  list-style: none;
  padding: 0px;
  margin: 0px; }

.menu ul li {
  float: left;
  padding: 5px 5px;
  text-align: center; }

.menu ul li:last-child {
  border: none; }

.menu ul li a {
  padding-top: 5px;
  text-decoration: none;
  color: #D6DBDF; }

.menu ul li a:hover {
  color: #b9c2c9; }

.menu {
  display: inline-block;
  font-weight: 300;
  margin-top: 10px; }

.menu-item {
  color: #0EABF8; }

.menu-item:hover {
  color: #71cefb; }

.menu-text {
  margin-top: 2px; }

.drawer-menu {
  display: none;
  color: #D6DBDF;
  background-color: #333;
  position: relative;
  min-height: 50px; }
  @media only screen and (max-width: 640px) {
    .drawer-menu {
      display: block; } }

.drawer-icon-left {
  float: left;
  width: 15%;
  padding-top: 2px;
  padding-bootom: 2px;
  padding-left: 10px; }

.drawer-logged-user {
  float: right;
  width: 85%;
  text-align: right;
  position: absolute;
  right: 10px;
  line-height: 50px; }

.content {
  background-color: #D6DBDF;
  width: 100%;
  height: 70%;
  position: relative; }
  @media only screen and (max-width: 640px) {
    .content {
      height: auto;
      min-height: 460px; } }

.search-box {
  background-color: #D6DBDF;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  height: 25px;
  position: relative;
  border-left: 1px solid #9da9b2; }

.search-box form {
  margin-bottom: 0px; }

.search-box input {
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
  width: 250px; }

.search-box button {
  padding: 5px 20px; }

.data-table-wrapper {
  position: relative;
  overflow-y: auto;
  height: 90%; }

.pagination {
  position: absolute;
  left: 20px;
  bottom: 10px;
  display: inline;
  font-size: 0.85em;
  color: #0A121D; }

.pagination a {
  color: #31598f; }

.footer {
  background-color: #333;
  width: 100%;
  height: 30%; }
  @media only screen and (max-width: 640px) {
    .footer {
      height: 13em;
      float: left;
      clear: both; } }

#dropdown_limit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  width: 150px;
  position: absolute;
  top: 0;
  line-height: 20px;
  height: 25px;
  padding-left: 5px;
  background: gray url(/static/img/chevrondown.png) no-repeat 95% center;
  color: #333; }

#chart-title {
  height: 10%;
  width: 100%;
  position: relative; }

#chartdiv {
  width: 100%;
  height: 90%; }

.add-flight {
  color: #D6DBDF; }

.add-flight:hover {
  color: white; }

.upsert-flight {
  color: #333; }

.upsert-flight:hover {
  color: #666666; }

.flight-wrapper {
  position: relative;
  display: inline-block;
  padding: 10px; }

.leg-control {
  float: left;
  margin-top: 10px;
  margin-bottom: 5px; }

.flight-legs {
  display: inline-block; }

#add_more {
  float: left; }

#remove_row {
  float: left; }

#leg-submit {
  margin-top: 8px; }

.alert ul, .alert-info ul, .alert-warning ul, .field-error ul, .alert-error ul {
  list-style: none;
  padding: 0px;
  margin: 0px; }

.alert ul li, .alert-info ul li, .alert-warning ul li, .field-error ul li, .alert-error ul li {
  padding: 5px 10px;
  text-align: center; }

.alert, .alert-info, .alert-warning, .field-error, .alert-error {
  list-style: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px; }

.alert-info {
  background-color: #8CE0FA;
  border: 1px solid #2ac6f6; }

.alert-warning, .field-error {
  background-color: #FAF88C;
  border: 1px solid #f6f22a; }

.alert-error {
  background-color: #FA8C8C;
  border: 1px solid #f62a2a; }

.card {
  background-color: #F6F6F6; }

.button, .field button, .form-field button, .media-input button, .simple-button, .form-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-size: 1em;
  padding: 10px 30px;
  letter-spacing: 0.02em;
  background-color: #0EABF8;
  color: #FAFAFA;
  cursor: hand; }

.button:hover, .field button:hover, .form-field button:hover, .media-input button:hover, .simple-button:hover, .form-button:hover {
  background-color: #71cefb; }

.input, .field input, .form-field input, .media-input input, .form-table input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 12px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 12px -7px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 12px -7px rgba(0, 0, 0, 0.75);
  height: 2.5em;
  font-size: 1em;
  border: 1px solid #D6DBDF;
  width: 100%;
  padding: 7px 15px;
  background-color: #f3f3f3;
  color: #0A121D; }

.input:focus, .field input:focus, .form-field input:focus, .media-input input:focus, .form-table input:focus {
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.6); }

.select, .field select, .form-field select, .media-input select, .form-table select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
  height: 2.5em;
  font-size: 1em;
  padding: 7px 15px;
  background: #f3f3f3 url(/static/img/chevrondown.png) no-repeat 95% center;
  border: 1px solid #D6DBDF;
  color: #0A121D; }

.select[multiple], .field select[multiple], .form-field select[multiple], .media-input select[multiple], .form-table select[multiple] {
  height: 100px;
  background: #f3f3f3; }

.field button, .form-field button, .media-input button {
  margin: 10px 0px;
  width: 100%; }

.field-error {
  list-style: none;
  padding: 0px;
  margin: 0px;
  max-width: 150px;
  padding: 0px; }

.simple-button {
  padding: 2px 3px;
  margin: 2px; }

.form-field-title {
  font-size: 0.9em;
  text-align: right; }

.form-button {
  padding: 5px 15px; }

.media-input input {
  margin-bottom: 10px;
  padding: 20px 15px; }

.base-table, .dashboard-table, .form-table {
  width: 100%;
  font-size: 0.75em;
  color: #0A121D;
  border-collapse: collapse;
  background: #D6DBDF;
  text-align: left; }

.base-table th, .dashboard-table th, .form-table th {
  background-color: #056a9b;
  color: #F6F6F6; }

.base-table .rows, .dashboard-table .rows, .form-table .rows {
  background-color: #D6DBDF; }

.base-table .row-even, .dashboard-table .row-even, .form-table .row-even {
  background-color: #b9c2c9; }

.dashboard-table td {
  padding-bottom: 0.7em;
  padding-top: 0.7em;
  padding-left: 10px; }

.dashboard-table tr:hover {
  background-color: white; }

.dashboard-table th {
  font-weight: 500;
  padding-bottom: 0.8em;
  padding-top: 0.8em;
  font-size: 1.05em;
  padding-left: 10px; }

.form-table {
  background-color: #F6F6F6; }

.form-table .rows {
  background-color: #F6F6F6; }

.form-table th {
  height: 20px;
  padding-left: 2px; }

.form-table th:first-child {
  background-color: #F6F6F6; }

.form-table td {
  padding: 5px 2px 0px 0px; }

.form-table input {
  max-width: 40px;
  padding: 0px 0px 0px 2px !important; }

.form-table select {
  padding: 0px 0px 0px 5px !important;
  min-width: 100px; }

.form-table .datetimepicker {
  max-width: 110px; }

.alert ul, .alert-info ul, .alert-warning ul, .field-error ul, .alert-error ul {
  list-style: none;
  padding: 0px;
  margin: 0px; }

.alert ul li, .alert-info ul li, .alert-warning ul li, .field-error ul li, .alert-error ul li {
  padding: 5px 10px;
  text-align: center; }

.alert, .alert-info, .alert-warning, .field-error, .alert-error {
  list-style: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px; }

.alert-info {
  background-color: #8CE0FA;
  border: 1px solid #2ac6f6; }

.alert-warning, .field-error {
  background-color: #FAF88C;
  border: 1px solid #f6f22a; }

.alert-error {
  background-color: #FA8C8C;
  border: 1px solid #f62a2a; }

.alert ul, .alert-info ul, .alert-warning ul, .field-error ul, .alert-error ul {
  list-style: none;
  padding: 0px;
  margin: 0px; }

.alert ul li, .alert-info ul li, .alert-warning ul li, .field-error ul li, .alert-error ul li {
  padding: 5px 10px;
  text-align: center; }

.alert, .alert-info, .alert-warning, .field-error, .alert-error {
  list-style: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px; }

.alert-info {
  background-color: #8CE0FA;
  border: 1px solid #2ac6f6; }

.alert-warning, .field-error {
  background-color: #FAF88C;
  border: 1px solid #f6f22a; }

.alert-error {
  background-color: #FA8C8C;
  border: 1px solid #f62a2a; }

.card {
  background-color: #F6F6F6; }

.button, .field button, .form-field button, .media-input button, .simple-button, .form-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-size: 1em;
  padding: 10px 30px;
  letter-spacing: 0.02em;
  background-color: #0EABF8;
  color: #FAFAFA;
  cursor: hand; }

.button:hover, .field button:hover, .form-field button:hover, .media-input button:hover, .simple-button:hover, .form-button:hover {
  background-color: #71cefb; }

.input, .field input, .form-field input, .media-input input, .form-table input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 12px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 12px -7px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 12px -7px rgba(0, 0, 0, 0.75);
  height: 2.5em;
  font-size: 1em;
  border: 1px solid #D6DBDF;
  width: 100%;
  padding: 7px 15px;
  background-color: #f3f3f3;
  color: #0A121D; }

.input:focus, .field input:focus, .form-field input:focus, .media-input input:focus, .form-table input:focus {
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.6); }

.select, .field select, .form-field select, .media-input select, .form-table select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
  height: 2.5em;
  font-size: 1em;
  padding: 7px 15px;
  background: #f3f3f3 url(/static/img/chevrondown.png) no-repeat 95% center;
  border: 1px solid #D6DBDF;
  color: #0A121D; }

.select[multiple], .field select[multiple], .form-field select[multiple], .media-input select[multiple], .form-table select[multiple] {
  height: 100px;
  background: #f3f3f3; }

.field button, .form-field button, .media-input button {
  margin: 10px 0px;
  width: 100%; }

.field-error {
  list-style: none;
  padding: 0px;
  margin: 0px;
  max-width: 150px;
  padding: 0px; }

.simple-button {
  padding: 2px 3px;
  margin: 2px; }

.form-field-title {
  font-size: 0.9em;
  text-align: right; }

.form-button {
  padding: 5px 15px; }

.media-input input {
  margin-bottom: 10px;
  padding: 20px 15px; }

a {
  text-decoration: none;
  font-size: 0.9em;
  font-style: normal;
  color: #31598f; }

a:hover {
  color: #3e70b5; }

.center {
  text-align: center; }

.margin-left-right-5 {
  margin-left: 5px;
  margin-right: 5px; }

.hidden {
  display: none; }

.toggle {
  display: block; }

@media only screen and (max-width: 640px) {
  .hide-phone {
    display: none; } }

@media only screen and (max-width: 1200px) {
  .hide-tablet {
    display: none; } }

.pull-right {
  float: right; }
