{% extends "accounts/base.html" %}
{% load static from staticfiles %}

{% block content %}
    <h1>Aircrafts</h1>
    <a href="/aircrafts/new">new</a>
    <table>
        {% for aircraft in aircraft_list %}
            <tr>
                <td>{{ aircraft.reg_number }}</td>
                <td>{{ aircraft.model }}</td>
                <td>{{ aircraft.markings }}</td>
                <td><a href="/aircrafts/update/{{ aircraft.pk }}">update</a> </td>
                <td><a href="/aircrafts/delete/{{ aircraft.pk }}">delete</a> </td>
        {% empty %}
            <td>No articles yet.<td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}