{% load static from staticfiles %}

{% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- BOOTSTRAP AND FONTAWESOME -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
{% endblock %}

<div class="container">
    {% include 'accounts/partials/_top_menu.html' %}

    <div class="content">
        {% block content %} {% endblock %}
    </div>
</div>

{% block js%}
    <!-- BOOTSTRAP -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
{% endblock %}
