{% load static from staticfiles %}

{% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no,">
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
{% endblock %}

<div class="container">
    {% include 'accounts/partials/_top_menu.html' %}

    <div class="content">
        {% block content %} {% endblock %}
    </div>
</div>

{% block js%}

{% endblock %}
