{% extends "accounts/base.html" %}
{% load static from staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/base_login.css' %}">
{% endblock %}

{% block content %}
    <div class="login-wrapper">
        <div class="login-card ghost-div">
        {% if user.is_authenticated %}
            Welcome:
            {{ user.first_name }} {{ user.last_name }}
            <a href="/logout"> logout </a>

        {% else %}
            <form action="/login" method="post">
                {% if orm.non_field_errors %}
                    <div class="alert alert-warning" role="alert">{{ form.non_field_errors }}</div>
                {% endif %}
                {% csrf_token %}
{#                <div class="field ghost-input">{{ form.username.label_tag }}{{ form.username }}</div>#}
{#                <div class="field ghost-input">{{ form.password.label_tag }}{{ form.password }}</div>#}
                <div class="field ghost-input">{{ form.username }}</div>
                <div class="field ghost-input">{{ form.password }}</div>
                <div class="field"><button class="ghost-button" type="submit">Login</button></div>
                <div class="field center">
                        <a href="/accounts/register"><i class="fa fa-envelope fa-2x margin-left-right-5"></i></a>
                        <a href="#"><i class="fa fa-twitter fa-2x margin-left-right-5"></i></a>
                        <a href="#"><i class="fa fa-facebook fa-2x margin-left-right-5"></i></a>
                </div>
            </form>
        {% endif %}
        </div>
    </div>
{% endblock %}
