{% extends "accounts/base.html" %}
{% load static from staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/base_login.css' %}">
{% endblock %}

{% block content %}
    <div class="login-wrapper">
        <div class="login-card">
        {% if user.is_authenticated %}
            Welcome:
            {{ user.first_name }} {{ user.last_name }}
            <a href="/logout"> logout </a>

        {% else %}
            <form action="/login" method="post">
                {% if orm.non_field_errors %}
                    <div class="alert alert-warning" role="alert">{{ form.non_field_errors }}</div>
                {% endif %}
                {% csrf_token %}
                <div class="field">{{ form.username }}</div>
                <div class="field">{{ form.password }}</div>
                <div><a href="/accounts/register">Register</a></div>
                <div><button class="btn btn-default" type="submit">Login</button></div>
            </form>
        {% endif %}
        </div>
    </div>
{% endblock %}
