{% extends "accounts/base_unauthenticated.html" %}
{% load static from staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/base_register.css' %}">
{% endblock %}

{% block page %}
    <div class="register-wrapper">

            <form class="register-form" method="post" action="/accounts/register">
                <div class="register-card card">
                {{ form.non_field_errors }}
                {% csrf_token %}
                    {% for field in form %}
                        <div class="media-input">
                            {{ field.errors }}
                            {{ field.label_tag }}{{ field }}
                        </div>
                    {% endfor %}
                     <div class="field"><button type="submit">Register</button></div>
                </div>
            </form>

    </div>
{% endblock %}