{% extends "accounts/base.html" %}
{% load static from staticfiles %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <table class="base-table">
        <tr>
            <th></th>
            <th>Date</th>
            <th>From</th>
            <th>To</th>
            <th>Flight Time</th>
            <th>Total Time</th>
        </tr>
        {% for flight in flights %}
            <tr class="collapsable-sub-header">
                <td class="column-header">{{ flight.number }}</td>
                <td>{{ flight.date }}</td>
                <td>{{flight.departure_ICAO}}</td>
                <td>{{flight.arrival_ICAO}}</td>
                <td>{{flight.flight_time}}</td>
                <td>{{flight.flight_service_time}}</td>
                <td class="fa fa-plus"></td>
            </tr>
            <tr class="sub-header hidden">
                <td></td>
                <td></td>
                <td>Out</td>
                <td>Off</td>
                <td>On</td>
                <td>In</td>
            </tr>
            {% for legs in flight.flightleg_set.all %}
{#                {% cycle 'row-even' 'row-odd' as rowclass%}#}
                <tr class="{{forloop.counter|divisibleby:2|yesno:"row-even,row-odd"}} hidden">
                    <td>{{ legs.departure_airport }}</td>
                    <td>{{ legs.arrival_airport }}</td>
                    <td>{{ legs.time_out }}</td>
                    <td>{{ legs.time_off }}</td>
                    <td>{{ legs.time_on }}</td>
                    <td>{{ legs.time_in }}</td>
                </tr>
            {% endfor %}
        {% endfor %}

    </table>

{% endblock %}