{% extends "accounts/base.html" %}
{% load static from staticfiles %}

{% block content %}
    <div class="content">
        <div class="search-box">
            <form method="POST" action="/dashboard/" id="search-form">
                {% csrf_token %}
                <input type="text" name="query_input" id="search-input">
                <button class="media-button" type="submit" name="dashboard_btn_search">Search</button>
            </form>
        </div>
        <div class="data-table-wrapper">
            <table class="dashboard-table">
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Aircraft</th>
                    <th class="hide-phone">Type</th>
                    <th>From</th>
                    <th>To</th>
                    <th class="hide-phone">Duty</th>
                    <th class="hide-phone">Role</th>
                    <th>Flight Time</th>
                    <th class="hide-tablet">Service Time</th>
                    <th>
                        <a class="add-flight" href="/flights/new">
{#                            <i class="fa fa-plus fa-lg"></i>#}
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle-o fa-stack-2x"></i>
                                <i class="fa fa-plus fa-stack-1x"></i>
                            </span>
                        </a>
                    </th>
                </tr>
                {% for flight in flights %}
                    <tr class="rows {{forloop.counter|divisibleby:2|yesno:"row-even,row-odd"}}">
                        <td class="column-header">{{ flight.number }}</td>
                        <td>{{flight.date|date:"Y-m-d"}}</td>
                        <td>{{flight.aircraft.reg_number}}</td>
                        <td class="hide-phone">{{flight.aircraft.model.short_name}}</td>
                        <td>{{flight.departure_ICAO}}</td>
                        <td>{{flight.arrival_ICAO}}</td>
                        <td class="hide-phone">{{flight.duty}}</td>
                        <td class="hide-phone">{{flight.role}}</td>
                        <td>{{flight.flight_time}}</td>
                        <td class="hide-tablet">{{flight.flight_service_time}}</td>
                        <td>
                            <a title="Update Trip" href="/flights/update/{{ flight.pk }}">
                                <i class="fa fa-pencil fa-lg upsert-flight"></i>
                            </a>
                            &nbsp;

                            <a title="Delete" class="hide-tablet" href="/flights/delete/{{ flight.pk }}">
                                <i class="fa fa-close fa-lg upsert-flight"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="pagination-wrapper">
            <div class="pagination">
                <span class="step-links">
                    {% if flights.has_previous %}
                        <a href="?page={{ flights.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        page {{ flights.number }} of {{ flights.paginator.num_pages }}.
                    </span>

                    {% if flights.has_next %}
                        <a href="?page={{ flights.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
    <div class="footer">
        <div id="chart-title">
            <select id="dropdown_limit">
                <option value="at">All time chart</option>
                <option value="1m">Current month chart</option>
                <option value="30d" selected>Last 30 days chart</option>
                <option value="90d">Last 90 days chart</option>
                <option value="1y">Last calendar year chart</option>
                <option value="12m">Last 12 months chart</option>
                <option value="cy">Current year chart</option>
            </select>
        </div>
        <div id="chartdiv"></div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'amcharts/amcharts.js' %}" type="text/javascript"></script>
    <script src="{% static 'amcharts/serial.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/dashboard_charts.js' %}" type="text/javascript"></script>
{% endblock %}