{% extends "accounts/base.html" %}
{% load static from staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/base_dashboard.css' %}">
{% endblock %}

{% block content %}
    <div class="content">
        <div class="search-box">
            <form method="POST" action="/dashboard/" id="search-form">
                {% csrf_token %}
                <input type="text" name="query_input" id="search-input">
                <button class="media-button" type="submit" name="dashboard_btn_search">Search</button>
            </form>
        </div>

        <table class="base-table">
            <tr>
                <th></th>
                <th>Date</th>
                <th>Aircraft</th>
                <th>Type</th>
                <th>From</th>
                <th>To</th>
                <th>Flight Time</th>
                <th>Service Time</th>
                <th>T/O</th>
                <th>Ldgs</th>
            </tr>
            {% for flight in flights %}
                <tr class="rows {{forloop.counter|divisibleby:2|yesno:"row-even,row-odd"}}">
                    <td class="column-header">{{ flight.number }}</td>
                    <td>{{flight.date|date:"Y-m-d"}}</td>
                    <td>{{flight.aircraft.reg_number}}</td>
                    <td>{{flight.aircraft.model.short_name}}</td>
                    <td>{{flight.departure_ICAO}}</td>
                    <td>{{flight.arrival_ICAO}}</td>
                    <td>{{flight.flight_time}}</td>
                    <td>{{flight.flight_service_time}}</td>
                    <td>{{flight.takeoffs}}</td>
                    <td>{{flight.landings}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="footer">
        Footer
    </div>
{% endblock %}