<div class="menu">
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li>

                    <div class="menu-text">
                        <a href="/dashboard/">
                            <div class="menu-item"><i class="fa fa-dashboard fa-3x"></i></div>
                            Dashboard
                        </a>
                    </div>
                </li>
{#                <li>#}
{##}
{#                    <div class="menu-text">#}
{#                        <a href="#">#}
{#                            <div class="menu-item"><i class="fa fa-suitcase fa-3x"></i></div>#}
{#                            Trips#}
{#                        </a>#}
{#                    </div>#}
{##}
{#                </li>#}
                <li>
                    <div class="menu-text">
                        <a href="/crews/manage"><div class="menu-item"><i class="fa fa-group fa-3x"></i></div>
                            Crews
                        </a>
                    </div>
                </li>
{#                <li>#}
{#                    <div class="menu-text">#}
{#                        <a href="#">#}
{#                            <div class="menu-item"><i class="fa fa-map-marker fa-3x"></i></div>#}
{#                            Places#}
{#                        </a>#}
{#                    </div>#}
{#                </li>#}
                <li>
                    <div class="menu-text">
                        <a href="/aircrafts/manage">
                            <div class="menu-item"><i class="fa fa-plane fa-3x"></i></div>
                            Aircraft
                        </a>
                    </div>
                </li>
{#                <li>#}
{#                    <div class="menu-text">#}
{#                        <a href="#">#}
{#                            <div class="menu-item"><i class="fa fa-pie-chart fa-3x"></i></div>#}
{#                            Reports#}
{#                        </a>#}
{#                    </div>#}
{#                </li>#}
                <li>
                    <div class="menu-text">
                        <a href="/settings/update/{{ user.settings.pk }}">
                            <div class="menu-item"><i class="fa fa-cog fa-3x"></i></div>
                            Settings
                        </a>
                    </div>
                </li>
            {% endif %}
            <li>
                {% include 'accounts/partials/_user_control.html' %}
            </li>
        </ul>
    </nav>
</div>

